body {
    background-color: white;
    margin: 50px 100px;
}

.matrix {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-collapse: collapse;
}

.mmatrix td, th {
    font-family: 'Times New Roman', Times, serif;
    border: 0px solid black;
    border-collapse: collapse;
    text-align: center;
}

.table .first {
    border: none;
    background-color: #C0C0C0;
}